In [1]:
import numpy as np, pandas as pd

In [2]:
tabla = pd.read_csv("C:\\Users\\Franco\\Desktop\\Python\\GITHUB\\Tabla CSO80 masculino.csv")

In [3]:
tabla

,x,l(x),d(x),D(x),N(x),S(x),C(x),M(x),R(x)
0,0,10000000,41800,10000000,237830366,5049896161,40192,852677,43603418
1,1,9958200,10655,9575192,227830366,4812065795,9851,812485,42750741
2,2,9947545,9848,9197065,218255174,4584235429,8755,802634,41938256
3,3,9937697,9739,8834576,209058109,4365980255,8325,793879,41135622
4,4,9927958,9432,8486460,200223533,4156922146,7752,785554,40341743
...,...,...,...,...,...,...,...,...,...
95,95,146722,48412,3535,8056,15939,1121,3224,7440
96,96,98310,37805,2277,4521,7883,842,2103,4216
97,97,60505,29054,1348,2244,3362,622,1261,2113
98,98,31451,20694,674,896,1118,426,639,852
99,99,10757,10757,222,222,222,213,213,213

---

In [4]:
tabla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
x         100 non-null int64
 l(x)     100 non-null int64
 d(x)     100 non-null int64
 D(x)     100 non-null int64
 N(x)     100 non-null int64
 S(x)     100 non-null int64
 C(x)     100 non-null int64
 M(x)     100 non-null int64
 R(x)     100 non-null int64
dtypes: int64(9)
memory usage: 7.2 KB

In [6]:
lista_columnas = ["x", "l(x)", "d(x)", "D(x)", "N(x)", "S(x)", "C(x)",\
                "M(x)", "R(x)"]

In [7]:
tabla.columns = lista_columnas

In [11]:
#Empezamos a definir los tipos de coberturas como funciones.

In [8]:
#1) Temporario de Muerte A(x;0;n)
def primas_tempo_muerte(tabla, x, capital_asegurado, n):
    ppu = capital_asegurado * ((tabla.at[x,"M(x)"] - tabla.at[x+n,"M(x)"] )/ tabla.at[x,"D(x)"])
    ppa = ppu / ((tabla.at[x,"N(x)"] - tabla.at[x+n,"N(x)"] )/ tabla.at[x,"D(x)"])
    print("La Prima Pura Única es igual a " + str(ppu))
    print("La prima Pura Anual es igual a " + str(ppa))
    lista_primas_naturales = []
    for i in range(0,n):       
        prima_natural = capital_asegurado * ((tabla.at[x+i,"M(x)"] - tabla.at[x+i+1,"M(x)"] )/ tabla.at[x+i,"D(x)"])
        lista_primas_naturales.append(prima_natural)
    contador = 0
    for elemento in lista_primas_naturales:
        print("La Prima Natural del año", str(contador),"es:", elemento)
        contador += 1

In [9]:
primas_tempo_muerte(tabla, x = 35, capital_asegurado = 1000, n = 5)

La Prima Pura Única es igual a 10.682343804760263
La prima Pura Anual es igual a 2.3172547687019907
La Prima Natural del año 0 es: 2.028793063523257
La Prima Natural del año 1 es: 2.1538352218567263
La Prima Natural del año 2 es: 2.3077927069234234
La Prima Natural del año 3 es: 2.4807388449145087
La Prima Natural del año 4 es: 2.6828616929569113

In [10]:
#2) Vida Pagos Limitados A(x;0;w-x)
def primas_vpl(tabla, x, capital_asegurado, n):
    ppu = capital_asegurado * (tabla.at[x,"M(x)"] / tabla.at[x,"D(x)"])
    ppa = ppu / ((tabla.at[x,"N(x)"] - tabla.at[x+n,"N(x)"] )/ tabla.at[x,"D(x)"])
    print("La Prima Pura Única es igual a " + str(ppu))
    print("La prima Pura Anual es igual a " + str(ppa))
    lista_primas_naturales = []
    for i in range(0,n):       
        prima_natural = capital_asegurado * ((tabla.at[x+i,"M(x)"] - tabla.at[x+i+1,"M(x)"] )/ tabla.at[x+i,"D(x)"])
        lista_primas_naturales.append(prima_natural)
    contador = 0
    for elemento in lista_primas_naturales:
        print("La Prima Natural del año", str(contador),"es:", elemento)
        contador += 1

In [11]:
primas_vpl(tabla, x = 35, capital_asegurado = 1000, n = 5)

La Prima Pura Única es igual a 246.82304725549614
La prima Pura Anual es igual a 53.54179698124696
La Prima Natural del año 0 es: 2.028793063523257
La Prima Natural del año 1 es: 2.1538352218567263
La Prima Natural del año 2 es: 2.3077927069234234
La Prima Natural del año 3 es: 2.4807388449145087
La Prima Natural del año 4 es: 2.6828616929569113